<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-segment value="all" (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all">All Places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeSm="8" offsetSm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ loadedPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle
              >{{ loadedPlaces[0].price | currency }} / Night</ion-card-subtitle
            >
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ loadedPlaces[0].description }}</p>
          </ion-card-content>
          <div>
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="[
                '/',
                'places',
                'tabs',
                'discover',
                loadedPlaces[0].id
              ]"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeSm="8" offsetSm="2">
        <app-discover-items-scrollwindow></app-discover-items-scrollwindow>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
