<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-label>Discover</ion-label>
      <!-- <ion-icon name="search"></ion-icon> -->
      <ion-icon
        src="https://cdn.jsdelivr.net/npm/ionicons@7.4.0/dist/svg/search.svg"
      ></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="offers">
      <ion-label>Offers</ion-label>
      <!-- <ion-icon name="card"></ion-icon> -->
      <ion-icon
        src="https://cdn.jsdelivr.net/npm/ionicons@7.4.0/dist/svg/card.svg"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
